@import "bootstrap/mixins";
//////////////////////////////
// Design-specific variables
//////////////////////////////
$theme-base: 'themes/space';

$primary-color: #202E3A;
$secondary-color: #7b0a00;
$accent-color: #E70005;

@import "mixins/modern_base";

//////////////////////////////
// Bootstrap variable tweaks
//////////////////////////////
$navbar-default-color: #fff;
$navbar-default-bg: #202E3A;
$navbar-default-link-color: #fff;

@import "../application";
